.siteContainer .container{
    background-color: #edf1f7;
}
.content .container {
    border: .0625rem solid #e4e9f2;
    background-color: #fff;
    
}
.table .container{
    color: #222b45;
    font-family: Open Sans,sans-serif;
    font-size: .9375rem;
    font-weight: 200;
    line-height: 1.25rem;
    margin-bottom: 1.875r
}
input{
    width: 90px;
    border-color:#edf1f7;
    border-radius: 0.3rem;
}